
.message-conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 100vh;
  background-color: #cddfff;
  font-size: 2rem;
}
.titulo {
  margin-bottom: 0;
  color: #ff0000;
}
.sub-titulo {
  margin-bottom: 0;
  color: #2a0600;
  font-size: 1.5rem;
}
